<div class="content">
    <!-- Hanzi Card -->
    <section [class]="'card-container'">
        <div [class]="'card' + (flashcards.isReplacing() ? ' replace' : '')
                             + (flashcards.isInfoShown() ? ' flip'    : '')
                             + (flashcards.isSwiping()   ? ' swipe'   : '')">
            @let card = flashcards.cards[flashcards.index];

            <div class="card-front">
                <span class="hanzi">
                    {{card.hanzi}}
                </span>
            </div>
            <div class="card-back">
                <span [class]="'hanzi ' + card.toneClass()">
                    {{card.hanzi}}
                </span>

                <span [class]="'pinyin'">
                    {{card.pinyin}}
                </span>

                <span [class]="'english'">
                    {{card.english}}
                </span>

                <span [class]="'description' + (card.hasDescription() ? '' : ' hidden')">
                    {{card.description ? card.description : 'No description'}}
                </span>
            </div>
        </div>
    </section>

    <!-- Buttons -->
    <section class="buttons-container">
        <button class="show"
                [disabled]="flashcards.isInfoShown()"
                (click)="flashcards.showInformation()">
            Flip
        </button>

        <button class="next"
                (click)="flashcards.swipeCard()">
            Next
        </button>
    </section>

    <span class="credit">Made by 卓彦</span>
</div>