<div class="content">
    <!-- Card -->
    <section [class]="'card-container'"
             (mouseenter)="animations.mouseEnter($event, animations.flip)"
             (mouseleave)="animations.mouseLeave(animations.flip)"
             (mousemove)="animations.mouseOver($event, animations.flip)">

        <div id="card"
             [class]="'card' + (animations.replace ? ' replace' : '')
                             + (flipped ? ' flip'    : '')"
             (click)="tapOnCard($event)">

             @let card = cards[sets[setIndex][cardIndex]];

            <div [class]="'card-front' + ' set-' + setIndex">
                <span id="hanzi-front"
                      class="hanzi">
                    {{card.hanzi}}
                </span>
            </div>
            <div class="card-back">
                <span id="hanzi-back"
                      [class]="'hanzi ' + card.toneClass()">
                    {{card.hanzi}}
                </span>

                <span id="pinyin"
                      [class]="'pinyin'">
                    {{card.pinyin}}
                </span>

                <span id="english"
                      [class]="'english' + (card.hasEnglish() ? '' : ' hidden')">
                    {{card.english}}
                </span>

                <span id="description"
                      [class]="'description' + (card.hasDescription() ? '' : ' hidden')">
                    {{card.description ? card.description : 'No description'}}
                </span>
            </div>
        </div>
    </section>

    <!-- Buttons -->
    <section class="buttons-container">
        <button id="new"
                class="new"
                [disabled]="!finishedSet"
                (click)="init(false)">
            {{newSetButtonText()}}
        </button>

        <button id="next"
                class="next"
                (click)="nextCard()">
            {{nextCardButtonText()}}
        </button>

        <span [class]="'counter' + (animations.replace ? ' bump' : '')">
            {{cardIndex + 1}}/{{getNumberOfCards()}}
        </span>
    </section>

    <!-- Credits -->
    <span class="credit">Learn Mandarin characters with 6 new card sets every day.</span>
    <span class="credit">Tap the card to reveal the information.</span>
    <span class="credit">{{getDate()}} - Made by 卓彦</span>
</div>
