/* Flashcards content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 2rem;
    background-color: transparent;
    perspective: 1000px;
    z-index: 10;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 34rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    transform-style: preserve-3d;
}

.card-front, .card-back {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    justify-content: center;
}
.card-back {
    transform: rotateY(-180deg);
    background-image: linear-gradient(180deg, #ededed , #e4e4e4);
}

/* Card information */

.hanzi {
    display: flex;
    justify-content: center;
    font-family: 'SimSun', 'Hiragino Sans GB', 'Helvetica', 'Arial', 'sans-serif';
    text-align: center;
}
.card-front .hanzi {
    font-size: 16rem;
    color: #fafafa;
    animation: glowing-text 1.2s ease-in-out infinite alternate;
}
.card-back .hanzi {
    height: 14.5rem;
    margin-top: 3rem;
    font-size: 12rem;
    text-shadow: 3px 3px 6px #686868;
}

.pinyin {
    display: flex;
    justify-content: center;
    color: #202020;
    text-shadow: 1px 1px 1px #606060;
    font-size: 2.75rem;
    letter-spacing: .1rem;
    text-align: center;
}

.english {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    color: #353535;
    font-size: 1.25rem;
    text-align: center;
}

.description {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 0 1.5rem 0 1.5rem;
    color: #404040;
    font-size: 1.1rem;
    text-align: center;
    overflow: scroll;
    height: 6rem;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.description::-webkit-scrollbar {
    display: none;
}

/* Buttons */

.buttons-container {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 4rem;
    margin-top: 2rem;
    gap: 2rem;
    z-index: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #042f3f , #021922);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    font-size: 1.5rem;
    letter-spacing: .04rem;
    cursor: pointer;
    color: #fafafa;
    opacity: 1;
    transition: opacity .7s;
}
button:disabled {
    background-image: linear-gradient(180deg, #89999e , #70797c);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .19);
    cursor: not-allowed;
}
button:active {
    transform: scale(.97);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2), 0 1px 2px 0 rgba(0, 0, 0, .19);
}

@media (hover: hover) { /* Needed to fix hover on mobile */
    button:hover {
        opacity: .8;
    }
}

/* Counter */

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border: 1px solid #656565;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #fcfcfc , #ececec);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .19);
    font-size: 1.5rem;
    letter-spacing: .04rem;
    color: #303030;
}

/* Credit */

.credit {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 1.5rem;
    color: #9a9a9a;
    font-size: .9rem;
}

/* Colors and global things */

.tone-0 {
    color: #444444;
}
.tone-1 {
    color: #af0723;
}
.tone-2 {
    color: #f0a314;
}
.tone-3 {
    color: #10bd6c;
}
.tone-4 {
    color: #0a67b3;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.set-1 {
    background-image: linear-gradient(180deg, hsl(180, 26%, 14%), hsl(185, 26%, 9%));
}
.set-2 {
    background-image: linear-gradient(180deg, hsl(349, 73%, 14%), hsl(347, 77%, 10%));
}
.set-3 {
    background-image: linear-gradient(180deg, hsl(225, 63%, 15%), hsl(237, 63%, 9%));
}
.set-4 {
    background-image: linear-gradient(180deg, hsl(300, 51%, 14%), hsl(300, 51%, 9%));
}
.set-5 {
    background-image: linear-gradient(180deg, hsl(30, 3%, 15%),   hsl(30, 3%, 8%));
}
.set-6 {
    background-image: linear-gradient(180deg, hsl(24, 35%, 15%),  hsl(23, 37%, 10%));
}

/* Animations */

.flip {
    animation: flip-and-zoom .8s forwards;
}

.replace {
    animation: replace-from-right .2s forwards;
}

.bump {
    animation: bump-counter .2s forwards;
}

@keyframes replace-from-right {
    0% { transform: scale(1.2) translate(16rem, -3rem) rotate(2deg); }
    100% { transform: scale(1) translate(0, 0) rotate(0deg); }
}

@keyframes flip-and-zoom {
    0% { transform: scale(1) rotateY(0); }
    20% { transform: scale(1.08) rotateY(0); }
    50% { transform: scale(1.08) rotateY(-180deg); }
    100% { transform: scale(1) rotateY(-180deg); }
}

@keyframes glowing-text {
    from {
        text-shadow: 0 0 2px #ffffff7a,
                     0 0 6px #ffffff7a,
                     0 0 10px #fafdff7a,
                     0 0 14px #fafdff7a,
                     0 0 19px #fafdff7a,
                     0 0 24px #fafdff7a,
                     0 0 29px #fafdff7a;
    }
    to {
        text-shadow: 0 0 7px #ffffff8a,
                     0 0 10px #f2f9ff8a,
                     0 0 16px #f2f9ff8a,
                     0 0 20px #f2f9ff8a,
                     0 0 25px #f2f9ff8a,
                     0 0 29px #f2f9ff8a,
                     0 0 34px #f2f9ff8a;
    }
}

@keyframes bump-counter {
    0% { transform: scale(1); }
    50% { transform: scale(1.025); }
    100% { transform: scale(1); }
}

/* Smaller screens */

@media (max-width: 900px) {
    .card-container {
        width: 100%;
        margin-top: 0;
    }

    .card {
        height: 30rem;
    }

    .card-front .hanzi {
        font-size: 12rem;
    }

    .card-back .hanzi {
        height: 11rem;
        margin-top: 3rem;
        font-size: 9rem;
    }

    .pinyin {
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    .english {
        font-size: 1.1rem;
    }

    .description {
        height: 7rem;
        margin-top: 1rem;
        font-size: .9rem;
    }

    .buttons-container {
        width: 100%;
        margin-top: 1.5rem;
        height: 3rem;
        gap: 1.5rem;
    }
    
    button {
        font-size: 1rem;
    }

    .counter {
        width: 24%;
        font-size: 1rem;
    }

    .credit {
        margin-top: 1rem;
    }
}
