/* Global styles */

body {
    margin: 2em;

    color: #161616;
    background-image: linear-gradient(to right, #ececec , #f4f4f4);

    cursor: default;
    user-select: none;
}

* {
    font-family: 'Tahoma', 'Arial', 'Helvetica', 'sans-serif';
}
